// создаем переменные для scss
$black: #1B1B1B;
$white: #fff;
$light: #dce9b1;
// создаем переменные для css
:root{
    --content-width: 1440px;
    --container-padding: 32px;
    --container-width: calc(var(--content-width) + (var(--container-padding) * 2));
    --font-size: 16px;
    --font-family: 'SF UI', sans-serif;
}