.plans{
    padding-top: 60px;
    &__tag{
        margin-inline: auto;
        --color-tag: #{$black};
    }
    &__title{
        margin-inline: auto;
        margin-top: 20px;
        max-width: 420px;
        font-size: 48px;
        font-weight: 500;
    }
}